* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(116, 180, 116);
  font-family: sans-serif, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.input-container {
  position: relative;
  background-color: #fff;
  width: 25em;
  height: 4.4em;
  border-radius: 5px;
}

input {
  position: absolute;
  outline: none;
  border: none;
  width: inherit;
  height: inherit;
  color: #fff;
  background-color: transparent;
  font-size: 25px;
  padding: 0px 18px;
  z-index: 5;
}

input::placeholder {
  color: #f3f3f3;
}

#suggestions {
  display: flex;
  align-items: center;
  background-color: rgb(58, 131, 58);
  padding: 0px 18px;
  font-size: 25px;
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}
